@import './scss/01_variables/colours.scss';
@import './scss/01_variables/media.scss';
@import './scss/02_mixins/media.scss';

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
div, section{
  box-sizing: content-box;
}

//Layout
@import './scss/04_layout/header.scss';
@import './scss/04_layout/main.scss';
@import './scss/04_layout/footer.scss';


//Molecules
@import './scss/05_molecules/buttons.scss';
@import './scss/05_molecules/inputs.scss';


// Generic classes
@import './scss/04_layout/generics.scss';

//Counter
@import './scss/07_components/counter.scss';